*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

.contenedor {
    background-color: rgb(204, 206, 250);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 33.5% 33% 33.5%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas:    "encabezado encabezado encabezado"
                            "columna1 columna2 columna3"
                            "piepag piepag piepag";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch; 
}

.caja {
    margin: 0px; 
    float: center;
    text-align: center;
}

#caja1{grid-area: encabezado;     
    border: 5px solid rgb(109, 33, 171); 
    background-color: rgb(205, 143, 232)}
#caja2{grid-area: columna1;
    border: 5px solid rgb(200, 19, 19); 
    background-color: rgb(250, 149, 149)}
#caja3{grid-area: columna2;
    border: 5px solid rgb(109, 192, 71); 
    background-color: rgb(182, 252, 182)}
#caja4{grid-area: columna3;
    border: 5px solid rgb(17, 127, 229); 
    background-color: rgb(120, 188, 252)}
#caja5{grid-area: piepag;
    border: 5px solid rgb(253, 170, 4); 
    background-color: rgb(251, 249, 147)}

@media screen and (max-width: 700px){
    .contenedor{
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 40% 40% 10%;
        grid-template-areas:    "encabezado encabezado"
                                "columna1 columna1"
                                "columna2 columna3"
                                "piepag piepag";
    }
}

@media screen and (max-width: 400px){
    .contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 12% 25% 25% 25% 12%;
        grid-template-areas:    "encabezado"
                                "columna1"
                                "columna2"
                                "columna3"
                                "piepag";
    }
}